{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div style="margin-left: 20px;"> <!-- Ajustez la marge selon vos préférences -->
        <h1 style="text-align: left; font-size: 2.5em; color: #ffffff; font-family: 'Arial', sans-serif;">Bienvenue sur mon E-Portfolio</h1>
        <p style="text-align: left; font-size: 1.2em; color: #ffffff; margin-top: 20px;">Je me présente, Axel Helix, étudiant en réseaux et télécommunications à l'IUT de Roanne. Passionné par les technologies de réseau et de télécommunications, et doté d'une solide compréhension des infrastructures réseau ainsi que de compétences pratiques acquises au cours de mes études, je suis désireux de mettre en œuvre mes connaissances pour contribuer au succès d'une équipe et relever les défis stimulants du monde professionnel des technologies de l'informatique.</p>
        
        <h2 style="font-size: 2em; color: #ffffff; font-family: 'Arial', sans-serif; margin-top: 30px;">Informations personnelles:</h2>
        <p style="text-align: left; font-size: 1.2em; color: #ffffff; margin-top: 20px;">
            - Nom: Axel Helix<br>
            - Âge: 18 ans<br>
            - Numéro de téléphone: 0649615316<br>
            - Adresse postale: 42300<br>
            - E-mail: axel.helix@etu.univ-st-etienne.fr
        </p>
    </div>
{% endblock %}
